
         
          body{background-color: #D2F9FE; background-image: 
                url('../images/fondo.jpg'); background-attachment: fixed;}
          h1{color: #0404B4;}
          h2{text-align: justify; color: #03148F; font-size: 25px; font-family: Chaparral Pro Light;}
          h3{font-size: 18px; font-family: Chaparral Pro Light; color: #40018C;}
          p{text-align: justify; color: #000; font-size: 18px; font-family: Microsoft JhengHei Light;}
          #mik1{color: #03148F; font-family: Chaparral Pro Light;}
          #mik2{color: #B141FE; font-family: Chaparral Pro Light;} 
          #mit2{color: #014C87; font-family: Chaparral Pro Light;}
          .li{text-align: left; font-size: 15px; font-family: Chaparral Pro Light; color: #40018C; padding: 10px;}
          .li8{text-align: left; font-size: 15px; font-family: Chaparral Pro Light; color: #000; padding: 10px;}
          .li5{text-align: left; font-size: 15px; font-family: Chaparral Pro Light; color: #fff; padding: 10px;}
          #img{text-align: center;}
          .linkmenu a{color:#03148F; font-weight:bold;text-decoration: none;font-size: 19px;}
          .linkmenu a:hover{color:#fff; text-decoration: underline;}
          #img2{text-align: right;}
          #img3{text-align: left;}
          #iframe-head{height: 400px; width: 100%; border: 0px; margin:0;} 
          #iframe-foot{height: 200px; width: 100%; border: 0px; margin:0;}
          .parrafo{font-size: 14px; color: #000;}
          .parrafo2{text-align: justify; color: #03148F; font-size: 20px; font-family: Microsoft JhengHei Light;}
          #container{ margin: 0% 20% 10% 20%;}
          #container3{margin: 5% 10% 5% 10%; border: 2px solid #000; width: 80%; background-color: #00BFFF; padding: 0 10px 10px 10px;}
          #container1{margin: 5% 10% 5% 10%; border: 2px solid #000; background-color: #00BFFF; padding: 0 10px 10px 10px;}
          #container2{margin: 0 20% 10% 20%; border: 2px solid #FDFEFE; background-color: #6ACBFE; padding: 0 10px 10px 10px;}
          .value{color:#03148F; font-family: Chaparral Pro Light; font-size:19px;}
          label{font-weight: bold;}
          th{text-align: justify; color: #FEFEFE; font-size: 20px; font-family: Chaparral Pro Light; background-color: #014C87;}
          td{text-align: justify; color: #000; font-size: 18px; font-family: Aller Light;}
          table{width: 800px;}
           
           
           
            
          
    
    
           
            

            
             
            


          
           
           
   
       
           
           
          
            
   



    
            
            
           
          
           
            
    
