<!DOCTYPE html>
<hmtl lang="es">
<head>
	<title>Diseños de Buena Calidad</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<iframe src="../templates/header.html" id="iframe-head"></iframe>
<body>
<div id="container">

    <center>
		<h1>
			<span id="mik1">Diseños de</span>
			<span id="mik2">Buena Calidad</span>
		</h1>
	</center>
	<br>
	<br>
  <br>

	<div id="img">
		<img src="../images/img5.jpeg" width="90%">
  </div>
	<br>
	<br>
	<br>
	<br>

  <ul>
      <div id="menu">
      <div class="linkmenu">

      <li> <a 
      href="Servicios.html" class="li">Servicios</a></li>
      <li> <a 
      href="Precios.html" class="li">Tabla de Precios</a></li> 
      <li> <a 
      href="Historia.html" class="li">Historia de la Papeleria</a></li>
      <li> <a 
      href="Responsable.html" class="li">Empresa Responsable y Confiable</a></li>
      <li> <a 
      href="Productos.html" class="li">Productos</a></li>
      <li> <a 
      href="Calidad.html" class="li">Diseños de Buena Calidad</a></li>

    </ul>
   <br>
   <br> 

	<p>
        L&M Litografia y Marketing ademas de vender utiles escolares y de oficina, trabaja con la elaboracion de diseños, pues la empresa te ofrece impresiones, pendones, volantes, y demas cosas relacionadas con el diseño y la creatividad.  
    </p> 
  </div>
</div> 
</div>
   <iframe src="../templates/foot.html" id="iframe-foot"></iframe>
</body>
</html>