<!DOCTYPE html>
<hmtl lang="es">
<head>
	<title>Historia de la Empresa</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<iframe src="../templates/header.html" id="iframe-head"></iframe>
<body>
<div id="container">

    <center>
		<h1>
			<span id="mik1">Historia de</span>
			<span id="mik2">la Empresa</span>
		</h1>
	</center>
	<br>
	<br>
  <br>

	<div id="img">
		<img src="../images/img.jpeg" width="90%">
  </div>
	<br>
	<br>
	<br>
	<br>

  <ul>
      <div id="menu">
      <div class="linkmenu">

      <li> <a 
      href="Servicios.html" class="li">Servicios</a></li>
      <li> <a 
      href="Precios.html" class="li">Tabla de Precios</a></li> 
      <li> <a 
      href="Historia.html" class="li">Historia de la Papeleria</a></li>
      <li> <a 
      href="Responsable.html" class="li">Empresa Responsable y Confiable</a></li>
      <li> <a 
      href="Productos.html" class="li">Productos</a></li>
      <li> <a 
      href="Calidad.html" class="li">Diseños de Buena Calidad</a></li>

    </ul>
   <br>
   <br> 

	<p>
       L&M Litografia y Marketing es una empresa fundada en el año 2013, que empezo solo imprimiendo copias, pero con el tiempo y gracias a su agradable servicio crecio y se volvio en una de las mejores tiendas de papeleria, que a futuro piensa en volverse una empresa de diseño y papeleria que busca satisfacer al cliente ofreciendo toda clase de papeleria, tanto de utiles escolares, como de oficina, y diseños de buena calidad en la ciudad de Bogota. Esta empresa se caracteriza por prestar un buen servicio, por medio de procesos y procedimientos en la elaboración de sus productos, para poder competir en un mercado y sostenerse en el. 
    </p> 
  </div>
</div> 
</div>
   <iframe src="../templates/foot.html" id="iframe-foot"></iframe>
</body>
</html>


