<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Iniciar Sesion</title>
        <!-- This is the second form for use CS
        -->
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <iframe src="../templates/header.html" id="iframe-head"></iframe>
<body>
  <div id="container">
  <center>
  <h1>
    <span id="mik1">Iniciar</span>
    <span id="mik2">Sesion</span>
    </h1> 
  </center>
  <br>
  <br>
  <br>
    <ul>
      
      <div id="menu">
      <div class="linkmenu">

      <li> <a 
      href="Servicios.html" class="li">Servicios</a></li>
      <li> <a 
      href="Precios.html" class="li">Tabla de Precios</a></li> 
      <li> <a 
      href="Historia.html" class="li">Historia de la Papeleria</a></li>
      <li> <a 
      href="Responsable.html" class="li">Empresa Responsable y Confiable</a></li>
      <li> <a 
      href="Productos.html" class="li">Productos</a></li>
      <li> <a 
      href="Calidad.html" class="li">Diseños de Buena Calidad</a></li>
    </div>
  </div>
    </ul> 
    <br>   
	  <div id="container3">
    <h1 id="mik1">Login</h1>
    <br>
    
    <form>
      <p>
        <div class="label">
        <label>Nombre de Usuario:</label>
      </div>
      <br>
      <input type="text" name="nombre de usuario">
      </p>

      <p>
      <div class="label">
        <label>Contraseña:</label>
      </div>
      <br>
      <input type="text" name="contraseña">
    </p>
    <br>
      <p>
        <input class="value" type="submit" value="Ingresar"/>
      </p>
        <span>&copy;Multimedia 2018</span>
      </form> 
    </div> 
</div>
<iframe src="../templates/foot.html" id="iframe-foot"></iframe>
</body>
</html>