<!DOCTYPE html>
<hmtl lang="es">
<head> 
	<title> Tabla de Precios </title>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
 <iframe src="../templates/header.html" id="iframe-head"></iframe>
<body>
	  <div id="container">
	<center>
  <h1>
    <span id="mik1">Tabla de</span>
    <span id="mik2">Precios</span>
    </h1> 
  </center>
  <br>
    <ul>
      <div id="menu">
      <div class="linkmenu">

      <li> <a 
      href="Servicios.html" class="li">Servicios</a></li>
      <li> <a 
      href="Precios.html" class="li">Tabla de Precios</a></li> 
      <li> <a 
      href="Historia.html" class="li">Historia de la Papeleria</a></li>
      <li> <a 
      href="Responsable.html" class="li">Empresa Responsable y Confiable</a></li>
      <li> <a 
      href="Productos.html" class="li">Productos</a></li>
      <li> <a 
      href="Calidad.html" class="li">Diseños de Buena Calidad</a></li>

    </ul> 
    </div>  
    </div> 
</div>


	<div id="container2">
	
	
	<center>
	<h1>
	    <span id="mit2">Tabla de Contenido</span>
   </h1>
   <br>
	<table>
		<thead>
			<th>Item</th>
			<th>Codigo</th>
			<th>Productos</th>
			<th>Precios</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>RTC234</td>
				<td>Cuadernos Eco</td>
				<td>$5.000</td>
			</tr>
			<tr>
				<td>2</td>
				<td>HJG654</td>
				<td>Esferos</td>
				<td>$3.000</td>
			</tr>
			<tr>
				<td>3</td>
				<td>YUI908</td>
				<td>USB</td>
				<td>$5.500</td>
		    </tr>
		    <tr>
		    	<td>4</td>
		    	<td>QWE123</td>
		    	<td>Botilitos</td>
		    	<td>$8.000</td>
		    </tr>
		    <tr>
		    	<td>5</td>
		    	<td>TRE527</td>
		    	<td>Llaveros</td>
		    	<td>$2.500</td>
		    </tr>
		    <tr>
		    	<td>6</td>
		    	<td>GCV346</td>
		    	<td>Kit Escolares</td>
		    	<td>$4.500</td>
		    </tr>
		    <tr>
		    	<td>7</td>
		    	<td>TUH681</td>
		    	<td>Agendas</td>
		    	<td>$8.000</td>
		    </tr>
		    <tr>
		    	<td>8</td>
		    	<td>ASF349</td>
		    	<td>Posillos</td>
		    	<td>$6.000</td>
		    </tr>
		    <tr>
		    	<td>9</td>
		    	<td>TYS610</td>
		    	<td>Colores</td>
		    	<td>$3.000</td>
		    </tr>
		    <tr>
		    	<td>10</td>
		    	<td>POA820</td>
		    	<td>Marcadores</td>
		    	<td>$3.500</td>
		    </tr>

        </center>
		</tbody>
	</table>
	 </div> 
    </div>
   </div> 
   <iframe src="../templates/foot.html" id="iframe-foot"></iframe>
</body>
</div>
</html>