<!DOCTYPE html>
<hmtl lang="es">
<head>
	<title>Historia de la Empresa</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<iframe src="../templates/header.html" id="iframe-head"></iframe>
<body>
<div id="container">

    <center>
		<h1>
			<span id="mik1">Productos</span>
		</h1>
	</center>
	<br>
	<br>
  <br>

	<div id="img">
		<img src="../images/img3.jpeg" width="50%" id="img2"><img src="../images/img4.jpeg" width="50%">
  </div>
	<br>
	<br>
	<br>
	<br>

  <ul>
      <div id="menu">
      <div class="linkmenu">

      <li> <a 
      href="Servicios.html" class="li">Servicios</a></li>
      <li> <a 
      href="Precios.html" class="li">Tabla de Precios</a></li> 
      <li> <a 
      href="Historia.html" class="li">Historia de la Papeleria</a></li>
      <li> <a 
      href="Responsable.html" class="li">Empresa Responsable y Confiable</a></li>
      <li> <a 
      href="Productos.html" class="li">Productos</a></li>
      <li> <a 
      href="Calidad.html" class="li">Diseños de Buena Calidad</a></li>

    </ul>
   <br>
   <br> 

	<p>
       L&M Litografia y Marketing ofrece productos como: Cuadernos, agendas, esferos, USB, llaveros, kit escolares,envases, botilitos y demas productos, pero ademas de dar un producto de buena calidad, la
       empresa L&M Litpgrafia y Marketing ofrece una personalización de cualquier producto que compres, osea que puedes ponerle el nombre a tus cuadernos, esferos y demas productos, por un gran precio, no puedes desaprovechar esta oportunidad. 
    </p> 
  </div>
</div> 
</div>
   <iframe src="../templates/foot.html" id="iframe-foot"></iframe>
</body>
</html>

