<!DOCTYPE html>
<hmtl lang="es">
<head>
	<title>Quienes Somos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<iframe src="../templates/header.html" id="iframe-head"></iframe>
<body>
<div id="container">

    <center>
		<h1>
			<span id="mik1">Quienes</span>
			<span id="mik2">Somos</span>
		</h1>
	</center>
	<br>
	<br>
  <br>

	<div id="img">
		<img src="../images/img6.jpg" width="70%">
  </div>
	<br>
	<br>
	<br>
	<br>

  <ul>
      <div id="menu">
      <div class="linkmenu">

      <li> <a 
      href="Servicios.html" class="li">Servicios</a></li>
      <li> <a 
      href="Precios.html" class="li">Tabla de Precios</a></li> 
      <li> <a 
      href="Historia.html" class="li">Historia de la Papeleria</a></li>
      <li> <a 
      href="Responsable.html" class="li">Empresa Responsable y Confiable</a></li>
      <li> <a 
      href="Productos.html" class="li">Productos</a></li>
      <li> <a 
      href="Calidad.html" class="li">Diseños de Buena Calidad</a></li>

    </ul>
   <br>
   <br> 
   <br>

	<p>
       L&M Litografia y Marketing es una empresa de artes gráficas que cuenta con un personal altamente calificado y capacitado  para la elaboración de papelería, publicidad y sellos, utilizando tecnología avanzada a nivel competitivo. Propenderá por la estabilidad del personal y el beneficio de su propietario.
    </p>
    <p>
       En el Futuro L & M Litografía y Marketing será una empresa reconocida en la Orinoquia y llanos orientales alcanzando los municipios de Granada, Acacias y Puerto López; caracterizado por la calidad de sus productos y servicios asegurando un óptimo rendimiento y cumplimiento en los trabajos  asignados por nuestros clientes, así nos fortaleceremos  cada día como una empresa sólida y confiable .
    </p>
    <br>
    <br>
  </div>
</div> 
</div>
   <iframe src="../templates/foot.html" id="iframe-foot"></iframe>
</body>
</html>
