<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Registrate</title>
        <!-- This is the second form for use CS
        -->
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <iframe src="../templates/header.html" id="iframe-head"></iframe>
<body> 
  <div id="container">
  <center>
  <h1>
    <span id="mik1">Registrate y se</span>
    <span id="mik2">parte de Nosotros</span>
    </h1> 
  </center>
  <br>
  <br>
  <br>
    <ul>
      <div id="menu">
      <div class="linkmenu">

      <li> <a 
      href="Servicios.html" class="li">Servicios</a></li>
      <li> <a 
      href="Precios.html" class="li">Tabla de Precios</a></li> 
      <li> <a 
      href="Historia.html" class="li">Historia de la Papeleria</a></li>
      <li> <a 
      href="Responsable.html" class="li">Empresa Responsable y Confiable</a></li>
      <li> <a 
      href="Productos.html" class="li">Productos</a></li>
      <li> <a 
      href="Calidad.html" class="li">Diseños de Buena Calidad</a></li>

    </ul> 
    </div> 
    </div>
    </div>  

    <div id="container1">
    <h1 id="mik1">Resgitrate</h1>
    <br>
    <form>

       <p>
       <div class="parrafo">
            <label>Nombre:</label>
            </div>
            <input type="text" name="nombre"/>
       </p>

       <p>
       <div class="parrafo">
            <label>Apellido:</label>
            </div>
            <input type="text" name="apellido"/>
       </p>

       <p>
          <label>Sexo:</label>
        </p>
        <p>
          <input type="radio" name="servicio" value="femenino" checked> Femenino
          <input type="radio" name="servicio" value="masculino" checked> Masculino
        </p>

        <p>
          <label>Fecha de Nacimiento</label>
        </p>

        <p>
          <select name="Dia">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
            <option selected="selected">--Dia--</option>
          </select>

          <select name="Mes">
            <option>Enero</option>
            <option>Febrero</option>
            <option>Marzo</option>
            <option>Abril</option>
            <option>Mayo</option>
            <option>Junio</option>
            <option>Julio</option>
            <option>Agosto</option>
            <option>Septiembre</option>
            <option>Octubre</option>
            <option>Noviembre</option>
            <option>Diciembre</option>
            <option selected="selected">--Mes--</option>
          </select>

          <select name="Año">
            <option>1980</option>
            <option>1981</option>
            <option>1982</option>
            <option>1983</option>
            <option>1984</option>
            <option>1985</option>
            <option>1986</option>
            <option>1987</option>
            <option>1988</option>
            <option>1989</option>
            <option>1990</option>
            <option>1991</option>
            <option>1992</option>
            <option>1993</option>
            <option>1994</option>
            <option>1995</option>
            <option>1996</option>
            <option>1997</option>
            <option>1998</option>
            <option>1999</option>
            <option>2000</option>
            <option>2001</option>
            <option>2002</option>
            <option>2003</option>
            <option>2004</option>
            <option>2005</option>
            <option>2006</option>
            <option>2007</option>
            <option>2008</option>
            <option>2009</option>
            <option>2010</option>
            <option selected="selected">--Año--</option>
          </select>
       <p>
          <div class="parrafo">
              <label>Email:</label>
            </div>
            <input type="text" name="email"/>
        </p>

        <p>
           <div class="parrafo">
          <label>Deja tu comentario...
          </label>
        </div>
        </p>

        <p>
          <div class="parrafo">
          <textarea name="comentario"
              cols="100" rows="10">
          </textarea>
        </div>
        </p>

        <p>
          <div class="parrafo">
          <input class="value" type="submit" value="Enviar registro"/>
          <input class="value" type="reset" value="Limpiar datos"/>
        </div>
        </p>
        <br>
      <span>&copy;Multimedia 2018</span>
      </form> 
    </div> 
    <br>
  </form> 
    </div>
   </div> 
   <iframe src="../templates/foot.html" id="iframe-foot"></iframe>
</div> 
</body>
</html>