<!DOCTYPE html>
<hmtl lang="es">
<head>
	<title>Empresa Responsable y Confiable</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<iframe src="../templates/header.html" id="iframe-head"></iframe>
<body>
<div id="container">

    <center>
		<h1>
			<span id="mik1">Empresa Responsable</span>
			<span id="mik2">y Confiable</span>
		</h1>
	</center>
	<br>
	<br>
  <br>

	<div id="img">
		<img src="../images/img2.jpeg" width="90%">
  </div>
	<br>
	<br>
	<br>
	<br>

  <ul>
      <div id="menu">
      <div class="linkmenu">

      <li> <a 
      href="Servicios.html" class="li">Servicios</a></li>
      <li> <a 
      href="Precios.html" class="li">Tabla de Precios</a></li> 
      <li> <a 
      href="Historia.html" class="li">Historia de la Papeleria</a></li>
      <li> <a 
      href="Responsable.html" class="li">Empresa Responsable y Confiable</a></li>
      <li> <a 
      href="Productos.html" class="li">Productos</a></li>
      <li> <a 
      href="Calidad.html" class="li">Diseños de Buena Calidad</a></li>

    </ul>
   <br>
   <br> 

	<p>
       Somos una empresa que trabaja con dedicación y cumplimiento, que trabaja con empleados y maquinas que generan buena produccion, para que los clientes vean la buena calidad de la empresa, ofreciendo productos de excelente calidad y demostrando que la papeleria puede producir buena mercacia y asi ganar publico creciendo cada dia mas junto a todos sus clientes.
    </p> 
  </div>
</div> 
</div>
   <iframe src="../templates/foot.html" id="iframe-foot"></iframe>
</body>
</html>
