<!DOCTYPE html>
<hmtl lang="es">
<head>
	<title>Servicios</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<iframe src="../templates/header.html" id="iframe-head"></iframe>
<body>
<div id="container">

    <center>
		<h1>
			<span id="mik1">Servicios</span>
		</h1>
	</center>
	<br>
	<br>

	<div id="img">
		<img src="../images/img7.jpg" width="80%">
  </div>
	<br>
	<br>
	<br>
	<br>

  <ul>
      <div id="menu">
      <div class="linkmenu">

      <li> <a 
      href="Servicios.html" class="li">Servicios</a></li>
      <li> <a 
      href="Precios.html" class="li">Tabla de Precios</a></li> 
      <li> <a 
      href="Historia.html" class="li">Historia de la Papeleria</a></li>
      <li> <a 
      href="Responsable.html" class="li">Empresa Responsable y Confiable</a></li>
      <li> <a 
      href="Productos.html" class="li">Productos</a></li>
      <li> <a 
      href="Calidad.html" class="li">Diseños de Buena Calidad</a></li>

    </ul>
   <br>
   <br> 

	<p>
       En L&M Litografia y Marketing ofrecemos el servicio de mensajeria todo lo que compres en L&M Litografia y Marketing sera llevado hasta tu casa si no deseas.

    </p>
    <p>
      Tambien ofrecemos el servicio de diseño, todo aquel producto que compres en la empresa, sera personalizado si asi lo deseas y ademas no se cobrara adicional.
    </p>
    <p> 
       Nuestros servicios son los mejores asi que ven y diviertete comprando y personalizando tus productos te esperamos...
    </p> 
    <br>
    <br>
    
  </div>
</div> 
</div>
   <iframe src="../templates/foot.html" id="iframe-foot"></iframe>
</body>
</html>
