<!DOCTYPE html>
<hmtl lang="es">
<head>
	<title>Nuestra Ubicacion</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<iframe src="../templates/header.html" id="iframe-head"></iframe>
<body>
<div id="container">

    <center>
		<h1>
			<span id="mik1">Nuestra</span>
			<span id="mik2">Ubicacion</span>
		</h1>
	</center>
	<br>
	<br>
  <br>

	<div id="img">
		<img src="../images/img8.jpg" width="90%">
  </div>
	<br>
	<br>
	<br>
	<br>

  <ul>
      <div id="menu">
      <div class="linkmenu">

      <li> <a 
      href="Servicios.html" class="li">Servicios</a></li>
      <li> <a 
      href="Precios.html" class="li">Tabla de Precios</a></li> 
      <li> <a 
      href="Historia.html" class="li">Historia de la Papeleria</a></li>
      <li> <a 
      href="Responsable.html" class="li">Empresa Responsable y Confiable</a></li>
      <li> <a 
      href="Productos.html" class="li">Productos</a></li>
      <li> <a 
      href="Calidad.html" class="li">Diseños de Buena Calidad</a></li>

    </ul>
   <br>
   <br> 

	<p>
        <div class="parrafo2">
        Nos puedes encontrar al frente de la estacion Marly
    </div> 
    </p>

    <p>
        <div class="parrafo2">
        Tel: 3152695854 
    </div>
    </p>

    <p>
        <div class="parrafo2">
        Horario: Lunes a Viernes de 9:00 am a 8:30 pm 
        Sábados y Domingos  de 9:00am a 6:00 pm
    </div>
    </p>
    <br>
    <br>
  </div>
</div> 
</div>
   <iframe src="../templates/foot.html" id="iframe-foot"></iframe>
</body>
</html>
