<!DOCTYPE html>
<html lang="es">
<head>
    <title></title>
<link rel="stylesheet" type="text/css" href="../css/foot.css">
<body>
    <div id="container">
<center>
    <div class="divfoot">
    <spam class="spanfoot">Informacion de la empresa</span><br>

    <a href="../Index.html" class="li2" target="_parent">Inicio</a><br>
    <a href="../views/Quienes.html" class="li2" target="_parent">Quienes Somos</a><br>
    <a href="../views/Ubicacion.html" class="li2" target="_parent">Nuestra Ubicacion</a><br>
    <a href="https://www.youtube.com/watch?v=pknTpb30poI" class="li2" target="_blank">Video Institucional</a><br>
    <a href="../views/Registrate.html" class="li2" target="_parent">Registrate</a><br>
    <a href="../views/Login.html" class="li2" target="_parent">Login</a><br>  
    <a href="../views/Contact.html" class="li2" target="_parent">Contactanos</a>
    </div>
    
    <div class="divfoot">
    <span class="spanfoot">Lo que ofrece la empresa</span><br><br>   
      
    <a href="../views/Servicios.html" class="li2" target="_parent">Servicios</a><br>
    <a href="../views/Precios.html" class="li2" target="_parent">Tabla de Precios</a><br>
    <a href="../views/Historia.html" class="li2" target="_parent">Historia de la Papeleria</a><br>
    <a href="../views/Responsable.html" class="li2" target="_parent">Empresa Responsable y Confiable</a><br>
    <a href="../views/Productos.html" class="li2" target="_parent">Productos</a><br>
    <a href="../views/Calidad.html" class="li2" target="_parent">Diseños de Buena Calidad</a><br>

    </div>
    
    <div class="divfoot">
     <span class="spanfoot">Redes Sociales</span><br><br><br>

        <a
        href="https://www.youtube.com/channel/UCHz3gwilIGEOcTbx-atDoIw/videos" class="li" target="_blank"><img src="../images/youtube.png" width="12%"></a>

        <a 
        href="https://www.facebook.com/" class="li" target="_blank"><img src="../images/facebook.png" width="12%"></a>

        <a
        href="https://plus.google.com/112095945308627106983" class="li" target="_blank"><img src="../images/google+.png" width="12%"></a>

        <a
        href="https://co.pinterest.com/litografiamarketing/" class="li" target="_blank"><img src="../images/pinterest.png" width="12%"></a>
    </div>
  </div>
</center>
  </body>
  </html>