<!DOCTYPE html>
<html lang="es">
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="../css/header.css">
<body>
	<div id="container">
   <center>
  <div id="banner">
    <h1>
    <br><br><br>
    <span id="mik1">L&M Litografia</span>
    <span id="mik2">y Marketing</span>
    </h1> 
  </div>

  <center>
    <ul>
      <li><a id="margin" href="../Index.html" target="_parent">Inicio</a></li>
      <li><a href="../views/Quienes.html" target="_parent">Quienes Somos</a></li>
      <li><a href="../views/Ubicacion.html" target="_parent">Nuestra Ubicacion</a></li>
      <li><a href="https://www.youtube.com/watch?v=pknTpb30poI" class="li"target="_blank">Video Institucional</a></li>
      <li><a href="../views/Contact.html" target="_parent">Contactanos</a></li>
      <li><a href="../views/Registrate.html" target="_parent">Registrate</a></li>
      <li><a href="../views/Login.html" target="_parent">Login</a></li>
      
    </div>
  </ul>
</center>

</head>
</body>
</html>
